
@model Testing.Player
<body>
    @using (Html.BeginForm("Index", "Category", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">

                <form asp-action="Player">
                    <div class="form-group">
                        @if (Model.TotalQuestions == 0)
                        {
                            <div class="form-group">
                                <label class="control-label">Welcome @Model.FirstName! I see this is your first time playing.  Its really very simple. I will display 5 questions for you.  I will also provide you with the answers.  You need to match up the questions with the answers.  Simple, right?  Click on the 'Lets Play!' button below to begin!</label>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="@Model.LastName" name="LastName"/>
                                <input type="hidden" value="@Model.FirstName" name="FirstName"/>
                                <input type="hidden" value="@Model.QuestionsRight" name="QuestionsRight"/>
                                <input type="hidden" value="@Model.QuestionsWrong" name="QuestionsWrong"/>
                                <input type="hidden" value="@Model.TotalQuestions" name="TotalQuestions"/>
                                <input type="hidden" value="@Model.TotalWinnings" name="TotalWinnings"/>
                                <input type="submit" value="Lets play!" class="btn btn-primary" />
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="control-label">Welcome back @Model.FirstName! Since you have played before, I won''t bother going over the instructions.  Based on your past playing, you have accumulated @Model.TotalWinnings points.  Click on the 'Continue' button below to get back to it! </label>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="@Model.LastName" name="LastName" />
                                <input type="hidden" value="@Model.FirstName" name="FirstName" />
                                <input type="hidden" value="@Model.QuestionsRight" name="QuestionsRight" />
                                <input type="hidden" value="@Model.QuestionsWrong" name="QuestionsWrong" />
                                <input type="hidden" value="@Model.TotalQuestions" name="TotalQuestions" />
                                <input type="hidden" value="@Model.TotalWinnings" name="TotalWinnings" />
                                <input type="submit" value="Continue" class="btn btn-primary" />
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    }
</body>

