
@model Testing.Player
<body>
    @using (Html.BeginForm("Index", "Category", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6">

                <form asp-action="Player">
                    <div class="form-group">
                        @if (Model.NewPlayer == true)
                        {
                            <div class="form-group">
                                <label class="control-label">Welcome @Model.FirstName! I see this is your first time playing.  Its really very simple. I am going to pick 6 random categories.  There will be 5 questions in each category so there will be a total of 30 questions.  Each question has an assigned point total.  Select the category and I will display the 5 questions.  Type in your answers and when you are finished, I will tell you which questions you got right and which you got wrong.  I will keep track of the total number of questions you answer correctly and the total number of points you accumulated.  See, I told you it was simple.</label>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="@Model.LastName" name="LastName"/>
                                <input type="hidden" value="@Model.FirstName" name="FirstName"/>
                                <input type="hidden" value="@Model.QuestionsRight" name="QuestionsRight"/>
                                <input type="hidden" value="@Model.QuestionsWrong" name="QuestionsWrong"/>
                                <input type="hidden" value="@Model.TotalQuestions" name="TotalQuestions"/>
                                <input type="hidden" value="@Model.TotalWinnings" name="TotalWinnings"/>
                                <input type="submit" value="Lets play!" class="btn btn-primary" />
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="control-label">Welcome back @Model.FirstName! Since you have played before, I won''t bother going over the instructions.  Click on the 'Continue' button below to start answering questions! </label>
                            </div>
                            <div class="form-group">
                                <input type="hidden" value="@Model.LastName" name="LastName" />
                                <input type="hidden" value="@Model.FirstName" name="FirstName" />
                                <input type="hidden" value="@Model.QuestionsRight" name="QuestionsRight" />
                                <input type="hidden" value="@Model.QuestionsWrong" name="QuestionsWrong" />
                                <input type="hidden" value="@Model.TotalQuestions" name="TotalQuestions" />
                                <input type="hidden" value="@Model.TotalWinnings" name="TotalWinnings" />
                                <input type="submit" value="Continue" class="btn btn-primary" />
                            </div>
                        }
                    </div>
                </form>
            </div>
        </div>
    }
</body>

