
@model dynamic

<h3>@Model.Game.PlayerData.FirstName, here are your questions in the category <br /> @Model.Game.CategoryData.Title</h3>


<table class="table">
    <tr>
        <th>ID</th>
        <th>question</th>
        <th>answer</th>
        <th>value</th>
    </tr>

    @foreach (var question in Model.Question)
    {
        <tr>
            <td>@question.category_id</td>
            <td>@question.question</td>
            <td>@question.answer</td>
            <td>@question.Value</td>
        </tr>
    }
</table>